<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
    <title>Our Story</title>
    <link rel="shortcut icon" href=" ./image/favicon.ico"/>
    <link rel="stylesheet" href="./css/homePage.css">
</head>
<body>
        <div class="left_div">
            <div class="main_div">

            </div>
        </div>

        <div class="right_div">

            <div class="button_div1">
                <img src="./image/icon_01.png" >
                <span style="position:absolute; top:90px;">互动</span>
            </div>


            <div class="button_div2">
                <img src="./image/icon_02.png">
                <span style="position:absolute; top:90px;">相册</span>
            </div>

            <div class="button_div3">
                <img src="./image/icon_03.png" >
                <span style="position:absolute; top:90px;">日记</span>
            </div>

        </div>
</body>

</html>