<!DOCTYPE html>
<html >
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
<title>登录</title>

<link rel="stylesheet" href="./css/style.css">

<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>

</head>
<body>
<div id="app">
<div class="cotn_principal">
  <div class="cont_centrar">
    <div class="cont_login">
      <div class="cont_info_log_sign_up">
        <div class="col_md_login">
          <div class="cont_ba_opcitiy">
            <h2>LOGIN</h2>
            <p>登陆</p>
            <button class="btn_login" onClick="cambiar_login()">LOGIN</button>
          </div>
        </div>
      </div>
      <div class="cont_forms" >
        <div class="cont_img_back_"> <img src="./po.jpg" alt="" /> </div>
		
        <div class="cont_form_login"> <a href="#" onClick="ocultar_login_sign_up()" ><i class="material-icons">&#xE5C4;</i></a>
          <h2>LOGIN</h2>
          <input type="text" v-model="username" placeholder="username" />
          <input type="password" v-model="password" placeholder="Password" />
         <button class="btn_login" onClick="login()">LOGIN</button>
        </div>
		
        <div class="cont_form_sign_up"> <a href="#" onClick="ocultar_login_sign_up()"><i class="material-icons">&#xE5C4;</i></a>
     
        </div>
		
      </div>
    </div>
  </div>
</div>
</div>
<script src="./js/index.js"></script>
<script src="./js/jquery-3.5.1.min.js"></script>
<script src="./js/vue.min.js"></script>
<script>
  var app = new Vue({
    el: '#app',
    data:{
        username:"",
        password:""
    },
    methods: {
      login: function(){

      }
    }


  });


</script>
</body>
</html>

